:root {
    --alice-blue: #F6F9FE;
    --solitude: #DDE5F6;
    --hawkes-blue: #D7DBEB;
    --vanilla-ice: #EED7D5;
    --link-water: #C9CCDA;
    --shamrock: #25CB95;
    
    --grey: #928ba0;
    --grey-active: #594d70;
    --white: #ffffff;
}
.text-success-2 {
    color: var(--shamrock)!important;
}