<div class="d-flex justify-content-center align-items-center title">Mail message</div>
<a href="#" class="d-flex justify-content-start align-items-center createEmail"><span><i class="fas fa-pen"></i>Create email</span></a>
<a href="#" class="d-flex justify-content-start align-items-center inbox active"><span><i class="fas fa-envelope"></i>Inbox</span></a>
<a href="#" class="d-flex justify-content-start align-items-center contacts"><span><i class="fas fa-user-alt"></i>Contacts</span></a>
<a href="#" class="d-flex justify-content-start align-items-center sent"><span><i class="fas fa-check-circle"></i>Sent</span></a>
<a href="#" class="d-flex justify-content-start align-items-center draft"><span><i class="fas fa-envelope-open-text"></i>Drafts</span></a>
<a href="#" class="d-flex justify-content-start align-items-center delete"><span><i class="fas fa-times-circle"></i>Deleted</span></a>