<div class="d-flex justify-content-between align-items-center">
    <div class="avatar"><img src="/assets/img/avatar.jpg"></div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="d-flex justify-content-between align-items-center">
    <h6 class="subject "><strong>Subject: <%=subject%></strong></h6>
    <div class="email-actions">
        <a href="#"><span><i class="fas fa-reply"></i></span></a>
        <a href="#"><span><i class="fas fa-share"></i></span></a>
        <a href="#"><span><i class="fas fa-trash-alt"></i></span></a>
        <a href="#"><span><i class="fas fa-chevron-left"></i></span></a>
        <a href="#"><span><i class="fas fa-chevron-right"></i></span></a>
    </div>
</div>
<div class="email-details">
    <div class="sender">Sender: <strong><%=sender%></strong></div>
    <div class="time">Time: <%=time%></div>
    <div class="addressee">Addressee: <strong><%=addressee%></strong></div>
</div>
<div class="email-message border-bottom"><%=message%></div>
